<tr>
  <td colspan="1" width="10%" align="center">
    <%= image_tag comment.user.avatar.url(:comment), class: 'title-avatar-comments' %><br>
    <small id="user-comment-name"><%= comment.user.username %></small><br>
    <small id="user-comment-count">comments: <%= comment.user.comments.count %></small>
  </td>
  <td>
    <small id="comment-timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago on <%= comment.created_at.to_date %></small>
    <%= comment.comment_text %>
  </td>
  <% if user_signed_in? && current_user.id == comment.user_id%>
    <td colspan="1" width="10%" align="center" id="comment-functions">
      <%= link_to '(edit)', edit_post_comment_path(@post, comment) %>
      <%= link_to '(delete)', post_comment_path(@post, comment),
                              :data => {:confirm => 'Are you sure?',
                              :method => 'delete' } %>
    </td>
  <% elsif user_signed_in? %>
    <td colspan="1" width="10%" align="center" id="comment-functions">

      <%= button_to post_comment_upvote_path(@post, comment) do %>
        <span class='glyphicon glyphicon-arrow-up'></span>
      <% end %>

      <%= comment.votes.count %>

      <%= button_to post_comment_downvote_path(@post, comment) do %>
        <span class='glyphicon glyphicon-arrow-down'></span>
      <% end %>

    </td>
  <% else %>
    <td colspan="1" width="10%" align="center" id="comment-functions">
      <span class="label label-default"><%= comment.user.comments.count %></span>
    </td>
  <% end %>
</tr>
