<tr>
  <td colspan="1" width="5%" align="center">
    <%= image_tag comment.user.avatar.url(:comment), class: 'title-avatar-comments' %>
    <small><%= comment.user.username %></small>
  </td>
  <td>
    <%= comment.comment_text %>
  </td>
  <% if user_signed_in? && current_user.id == comment.user_id%>
    <td colspan="1" width="5%" align="center" id="comment-functions">
      <%= link_to '(edit)', edit_post_comment_path(@post, comment) %>
      <%= link_to '(delete)', post_comment_path(@post, comment),
                              :data => {:confirm => 'Are you sure?',
                              :method => 'delete' } %>
    </td>
  <% else %>
  <td colspan="1" width="5%" align="center" id="comment-functions">
    <%= link_to posts_path do %>
      <span class='glyphicon glyphicon-arrow-up'></span>
    <% end %>
    <br>
    |  <%= comment.user.comments.count %>  |
    <br>
    <%= link_to posts_path do %>
      <span class='glyphicon glyphicon-arrow-down'></span>
    <% end %>
  </td>
  <% end %>
</tr>
