<tr>

  <td width="10%">
    <div class="comment-avatar">
      <%= image_tag comment.user.avatar.url(:comment) %><br>
      <small class="user-comment-name"><%= comment.user.username %></small> <br>
      <small class="user-comment-count">comments: <%= comment.user.comments.count %></small>
    </div>
  </td>

  <td class="comment-text">
    <small class="comment-timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago on <%= comment.created_at.to_date %></small>
    <span id="comment-number-<%= comment.id %>"> <%= comment.comment_text %> </span>
  </td>

  <% if user_signed_in? && current_user.id == comment.user_id %>
    <td class="comment-controls comment-voting-area">
      <%= link_to 'Edit', edit_post_comment_path(@post, comment), id: comment.id, class: 'btn btn-info btn-xs edit-comment', remote: true %>
      <p class="general-seperator"></p>
      <%= link_to 'Delete', post_comment_path(@post, comment),
                              :data => {:confirm => 'Are you sure?',
                              :method => 'delete' }, class: 'btn btn-danger btn-xs' %>
    </td>
  <% elsif user_signed_in? %>
    <td class="comment-controls comment-voting-area">

      <%= link_to post_comment_vote_path(@post, comment, upvote: true), method: 'post' do %>
        <span class='glyphicon glyphicon-chevron-up'></span>
      <% end %>

      <br>

      <%= comment.total_score %> |
      <%= comment.up_votes %> /
      <%= comment.down_votes %>

      <br>

      <%= link_to post_comment_vote_path(@post, comment, upvote: false), method: 'post' do %>
        <span class='glyphicon glyphicon-chevron-down'></span>
      <% end %>

    </td>
  <% else %>
    <td width="10%" align="center">
      <span class="label label-default"><%= comment.total_score %></span>
    </td>
  <% end %>
  
</tr>
