<%= render('layouts/errors', :object => @comment) %>
<p></p>
<div class="well" id="new_comment_form">
  <%= form_for [@post, @comment], remote: true do |f| %>
    <div class="form-group">
      <%= f.label :comment_text, 'Comment Text' %>
      <%= f.text_area :comment_text, rows: 5, :placeholder => 'Enter Comment', :class => 'form-control' %>
    </div>
    <%= f.submit :class => 'btn btn-success btn-xs' %>
  <% end %>
  <button id="just_kidding" class="btn btn-danger btn-xs">Just Kidding</button>
</div>
