<%= render('layouts/errors', :object => @comment) %>
<div class="well" id="new_comment_form">
  <%= form_for [@post, @comment], remote: true do |f| %>
    <div class="form-group">
      <%= f.label :comment_text, 'Comment Text' %>
      <%= f.text_area :comment_text, rows: 5, :placeholder => 'Enter Comment', :class => 'form-control' %>
    </div>
    <%= f.hidden_field :user_name, value: current_user.username %>
    <%= f.submit :class => 'btn btn-success' %>
  <% end %>
</div>
