<%= render('layouts/errors', :object => @comment) %>

<div class="well well-sm" id="new-comment-form">
  <%= form_for([@post, @comment], remote: true) do |f| %>
    <div class="form-group">
      <%= f.label :comment_text, 'Enter Comment', class: 'small' %>
      <%= f.text_area :comment_text, rows: 5, :placeholder => 'Type something here...', :class => 'form-control' %>
    </div>
    <%= f.submit 'Add Comment', :class => 'btn btn-success btn-xs disabled', id: 'create-comment-button' %>
  <% end %>
  <button id="just-kidding-<%= @post.id %>" class="btn btn-danger btn-xs">Just Kidding</button>
</div>
