<%= render 'layouts/errors', :object => @post %>

<div class="well" id="post-form">
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Post Title' %>
      <%= f.text_field :title, :placeholder => 'Such title', :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :post_text, 'Post Text' %>
      <%= f.text_area :post_text, rows: 10, :placeholder => 'Enter text and markup', :class => 'form-control', id: 'new-post-text-area' %>
    </div>
    <%=f.submit :class => 'btn btn-success btn-sm pull-left', id: "update-post-button" %>
  <% end %>
  <%= link_to 'Cancel', posts_path, :class => 'btn btn-danger btn-sm', id: 'cancel-post-button' %>
</div>
