<div class="row">
  <div class="col-md-12">
    <table class="table-condensed main-posts-table" width="100%">
      <tr>
        <td width="10%">
          <%= image_tag post.user.avatar.url(:thumb), class: 'title-avatar-posts-index' %>
          <small> <%= post.user.username %> </small>
        </td>
        <td class="main-posts-text">
          <h4 class="no-margin"><%= link_to post.title, post_path(post) %> </h4>
          <p class="no-margin">Posted on <%= post.created_at.to_date %></p>
          <span class="label label-info"> <%= pluralize(post.comments.count, 'Comment') %> </span>
        </td>
        <td class="post-score-area">
          <p class="big-text no-margin">
            <span class="<%= post.total_score > 0 ? 'label label-success' : 'label label-danger' %>"> <%= post.total_score %> </span>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
