<div class="row">
  <div class="col-md-12">
    <table width="100%" class="table-condensed">
      <tr>
        <td id="single-post-avatar-area">
          <%= image_tag @post.user.avatar.url(:thumb), class: 'single-post-avatar' %>
        </td>
        <td>
          <h3 class="no-margin"> <%= @post.title %> </h3>
          <h4 class="no-margin sub-title">
            Posted <%= time_ago_in_words(@post.created_at) %> ago <br> <%= @post.created_at.to_date %>
          </h4>
        </td>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <td id="post-title-manage">
            <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary btn-sm', remote: true %> |
            <%= link_to 'Delete', post_path(@post), :data => {:confirm => 'Are you sure?',
            :method => 'delete' }, :class => 'btn btn-danger btn-sm' %>
          </td>
          <td id="post-title-score">
            <p class="big-text no-margin"> <%= @post.total_score %> </p>
          </td>
        <% elsif user_signed_in? && current_user.id != @post.user_id %>
          <td id="post-title-vote" width="2%">
            <%= link_to post_vote_path(@post, upvote: true), class: 'btn btn-success btn-xs vote-post', method: 'post', remote: true do %>
              <span class='glyphicon glyphicon-triangle-top'></span>
            <% end %>

            <h4 id="post-total-score"><%= @post.total_score %> </h4>

            <%= link_to post_vote_path(@post, upvote: false), class: 'btn btn-danger btn-xs vote-post', method: 'post', remote: true do %>
              <span class='glyphicon glyphicon-triangle-bottom'></span>
            <% end %>
          </td>
        <% else %>
          <td id="post-title-score">
            <p class="big-text no-margin"><span class="label label-default"> <%= @post.total_score %> </span></p>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
