<h1>Post Title: <%= @post.title %></h1>

<p> Your Thoughts: <%= @post.post_text %> </p>

<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
<%= link_to 'Delete', post_path(@post),
                      :data => {:confirm => 'Are you sure?',
                      :method => 'delete' }, :class => 'btn btn-danger' %>

<%= link_to 'Add Comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>
<hr>
<% if @post.comments.any? %>
  <h6>Comments for: <%= @post.title %> </h6>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      Posted By: <%= comment.user_name %><br>
      <%= comment.comment_text %>
      <%= link_to '(edit)', edit_post_comment_path(@post, comment) %>
      <%= link_to '(delete)', post_comment_path(@post, comment),
                            :data => {:confirm => 'Are you sure?',
                            :method => 'delete' } %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h6>Be The First To Comment!</h6>
<% end %>
<hr>
<%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
