<h2>Post Title: <%= @post.title %></h2>
<h4>Posted On: <%= @post.created_at  %></h4>

<p><%= @post.post_text %> </p>

<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', post_path(@post),
                      :data => {:confirm => 'Are you sure?',
                      :method => 'delete' }, :class => 'btn btn-danger' %>
  <%= link_to 'Add Comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>
<% elsif user_signed_in? %>
  <%= link_to 'Add Comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>
<% end %>
<hr>
<% if @post.comments.any? %>
  <h6>Comments for: <%= @post.title %> </h6>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        Posted By: <%= comment.user_name %><br>
        <%= comment.comment_text %>
        <% if user_signed_in? && current_user.username == comment.user_name %>
          <%= link_to '(edit)', edit_post_comment_path(@post, comment) %>
          <%= link_to '(delete)', post_comment_path(@post, comment),
                              :data => {:confirm => 'Are you sure?',
                              :method => 'delete' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif user_signed_in? %>
  <hr>
  <h6>Be The First To Comment!</h6>
<% end %>
<hr>
<%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
